header {
	display: flex;
	flex-direction: column;
	@include bp-med {
		justify-content: center;
	}
	.mobile-only-container {
		display: flex;
		position: fixed;
		right: 1rem;
		top: 1rem;
		z-index: 3;

		@include bp-med {
			display: none;
		}
		img {
			height: 50px;
			width: 50px;
			position: absolute;
			right: 4.5rem;
			top: -0.2rem;
		}
		.hamburger {
			@include flex-center;
			flex-direction: column;
			width: 50px;
			height: 50px;
			padding: 0;
			color: #f7f3f2;
			border: none;
			// border: #435a5c solid 1px;
			.line {
				width: 75%;
				height: 12%;
				// border: #435a5c solid 1px;
				margin: 10%;
				background-color: black;
			}
		}
	}

	.logo {
		width: 200px;
		align-self: center;
		position: relative;
		top: 1.5rem;
		z-index: 2;
	}

	nav {
		display: block;
		position: fixed;
		right: 1rem;
		top: 5rem;
		max-width: 0px;
		overflow: hidden;
		z-index: 1000;
		ul {
			display: flex;
			flex-direction: column;
			text-align: right;
			li {
				a {
					display: flex;
					flex-direction: column;
					line-height: 3rem;
					padding: 10px 0px;
					text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff,
						-2px 2px 0 #ffffff, -2px -2px 0 #ffffff,
						2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff,
						0px -2px 0 #ffffff, 2px 2px 0px rgba(0, 0, 0, 0);

					.cart {
						display: none;
					}
				}
			}
		}
		&.showing {
			max-width: 100%;
		}
		@include bp-med {
			display: block;
			position: relative;
			top: -6.5rem;
			max-width: 100%;
			ul {
				// @include flex-center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				div {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					width: 40%;
					li {
						margin: 0px 20px;
						a {
							font-size: 1.5rem;
							@include flex-center;
							align-items: baseline;
							flex-direction: row;
							text-shadow: none;
							.cart {
								margin-left: 10px;
								width: 25px;
								height: 25px;
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
.banner {
	img {
		width: 100%;
		margin-top: 20px;
	}
}
.hero {
	display: flex;
	align-items: center;
	flex-direction: column;
	.skewed-tag {
		@include flex-center;
		transform: skew(-25deg, 0deg);
		width: 100px;
		background-color: #ca2706;
		width: 230px;
		height: 90px;
		// position: absolute;
		// top: 30rem;
		// left: 8.5rem;
		a {
			div {
				color: white;
				transform: skew(25deg, 0deg);
			}
		}
		@include bp-med {
			// top: 43rem;
			// left: 13.5rem;
		}
	}
	.intro-text-img-container {
		@include flex-center;
		.intro-text {
			@include flex-center;
			flex-direction: column;
			margin-top: 50px;
			h2 {
				font-size: 3rem;
			}
			p {
				margin: 30px;
				font-size: 1.2rem;
				text-align: center;
			}
		}
	}
}
.wedding-events {
	@include flex-center;
	flex-direction: column;
	// img{
	// }
	.skewed-header {
		padding: 30px 0px;
		div {
			@include flex-center;
			flex-direction: column;
			h2 {
				@include iPhone-x {
					font-size: 2rem;
				}
				font-size: 2.5rem;
			}
			span {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
	}
	.skewed-tag {
		@include flex-center;
		transform: skew(-25deg, 0deg);
		width: 100px;
		background-color: #fa4407;
		width: 230px;
		height: 90px;
		div {
			color: #fff;
			transform: skew(25deg, 0deg);

			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
	}
}
.dish-gardens {
	@include flex-center;
	flex-direction: column;
	// img{
	// }
	.skewed-header {
		padding: 30px 0px;
		div {
			@include flex-center;
			flex-direction: column;
			h2 {
				@include iPhone-x {
					font-size: 2rem;
				}
				font-size: 2.5rem;
			}
			span {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
	}
	.skewed-tag {
		@include flex-center;
		transform: skew(-25deg, 0deg);
		width: 100px;
		background-color: #fda50d;
		width: 230px;
		height: 90px;
		div {
			color: #fff;
			transform: skew(25deg, 0deg);

			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
	}
}
.vertical-gardens {
	@include flex-center;
	flex-direction: column;
	// img{
	// }
	.skewed-header {
		padding: 30px 0px;
		div {
			@include flex-center;
			flex-direction: column;
			h2 {
				@include iPhone-x {
					font-size: 2rem;
				}
				font-size: 2.5rem;
			}
			span {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
	}
	.skewed-tag {
		@include flex-center;
		transform: skew(-25deg, 0deg);
		width: 100px;
		background-color: #6e352d;
		width: 230px;
		height: 90px;
		div {
			color: #fff;
			transform: skew(25deg, 0deg);

			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
	}
}
.shop-by {
	padding: 100px 0px;
	@include flex-center;
	flex-direction: column;
	.line {
		width: 100%;
		height: 1px;
		background-color: #000;
		z-index: 0;
	}
	.all-shop-container {
		display: flex;
		justify-content: space-around;
		width: 100%;
		@include iPhone-x {
			font-size: 1.2rem;
		}
		font-size: 1.5rem;

		.first-set-container {
			display: flex;
			align-items: center;
			flex-direction: column;

			.first-shop {
				.skewed-tag {
					@include flex-center;
					transform: skew(25deg, 0deg);
					@include iPhone-x {
						width: 160px;
					}
					width: 200px;
					height: 50px;
					color: #fff;
					background-color: #fa4407;
					.unskewed-text {
						transform: skew(-25deg, 0deg);
					}
				}
			}
			.second-shop {
				.skewed-tag {
					@include flex-center;
					transform: skew(-25deg, 0deg);
					@include iPhone-x {
						width: 160px;
					}
					width: 200px;
					height: 50px;
					color: #fff;
					background-color: #4b858c;
					.unskewed-text {
						transform: skew(25deg, 0deg);
					}
				}
			}
		}
		.second-set-container {
			display: flex;
			align-items: center;
			flex-direction: column;

			.third-shop {
				.skewed-tag {
					@include flex-center;
					transform: skew(25deg, 0deg);
					@include iPhone-x {
						width: 160px;
					}
					width: 200px;
					height: 50px;
					color: #000;
					background-color: #fda50d;
					.unskewed-text {
						transform: skew(-25deg, 0deg);
					}
				}
			}
			.fourth-shop {
				.skewed-tag {
					@include flex-center;
					transform: skew(-25deg, 0deg);
					@include iPhone-x {
						width: 160px;
					}
					width: 200px;
					height: 50px;
					color: #000;
					background-color: #a1bbab;
					.unskewed-text {
						transform: skew(25deg, 0deg);
					}
				}
			}
		}
	}
}
