header {
	display: flex;
	flex-direction: column;
	@include bp-med {
		justify-content: center;
	}
	.mobile-only-container {
		display: flex;
		position: fixed;
		right: 1rem;
		top: 1rem;
		z-index: 3;
		@include bp-large {
			display: none;
		}
		img {
			height: 50px;
			width: 50px;
			position: absolute;
			right: 4.5rem;
			top: -0.2rem;
		}
		.hamburger {
			@include flex-center;
			flex-direction: column;
			width: 50px;
			height: 50px;
			padding: 0;
			color: #f7f3f2;
			border: none;

			.line {
				width: 75%;
				height: 12%;

				margin: 10%;
				background-color: black;
			}
		}
	}
	.logo {
		width: 200px;
		align-self: center;
		position: relative;
		top: 1.5rem;
		z-index: 2;
	}
	nav {
		font-size: 1.5rem;
		font-weight: 100;
		display: flex;
		justify-content: flex-end;
		position: fixed;
		right: 1rem;
		top: 5rem;
		max-width: 0px;
		overflow: hidden;
		transition: 1s ease-in-out;
		z-index: 1000;
		ul {
			display: flex;
			flex-direction: column;
			text-align: right;
			li {
				a {
					display: flex;
					flex-direction: column;
					line-height: 3rem;
					padding: 10px 0px;
					text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff,
						-2px 2px 0 #ffffff, -2px -2px 0 #ffffff,
						2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff,
						0px -2px 0 #ffffff, 2px 2px 0px rgba(0, 0, 0, 0);
					.cart {
						display: none;
					}
				}
				& .active {
					border-bottom: solid #ca3203 2px;
				}
			}
		}
		&.showing {
			width: 20%;
			max-width: 100%;
		}
		@include bp-large {
			display: block;
			position: relative;
			top: -6.5rem;
			max-width: 100%;
			ul {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				div {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					width: 40%;
					li {
						margin: 0px 20px;
						a {
							font-size: 1.5rem;
							@include flex-center;
							align-items: baseline;
							flex-direction: row;
							text-shadow: none;
							.cart {
								margin-left: 10px;
								width: 25px;
								height: 25px;
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
.banner {
	position: relative;
	img {
		width: 100%;
		margin-top: 20px;
		z-index: -20;
	}
	a {
		@include iPhone-x {
			width: 37%;
		}
		@include flex-center;
		font-size: 1.71rem;
		color: white;
		font-weight: 100;
		background-color: #ca2706;
		width: 32%;

		position: absolute;
		bottom: -2%;
		right: 32%;
		z-index: 2;
		padding: 0.894rem 0;

		@include bp-med {
			font-size: 2.64rem;
			width: 13.74rem;
			bottom: -2%;
			right: 35%;
		}
		@include bp-large {
			font-size: 3.26rem;
			width: 18.74rem;

			bottom: 6%;
			right: 45%;
			padding: 0 0;
		}
		@include bp-ld {
		}
	}
	a::before {
		content: '';
		@include iPhone-x {
			width: 37%;
		}
		position: absolute;
		background-color: #ca2706;
		width: 20%;
		height: 100%;
		top: 0;
		z-index: -2;
		left: -10%;
		transform: skew(-20deg, 0deg);
		@include bp-med {
			left: -10%;
		}
		@include bp-large {
			width: 30%;
			left: -16%;
		}
	}
	a::after {
		content: '';
		@include iPhone-x {
			width: 37%;
		}
		position: absolute;
		background-color: #ca2706;
		width: 20%;
		height: 100%;
		top: 0;
		z-index: -2;
		right: -12%;
		transform: skew(-20deg, 0deg);
		@include bp-med {
			right: -10%;
		}
		@include bp-large {
			width: 30%;
			right: -16%;
		}
	}
}
//start home page
.hero {
	position: relative;
	@include bp-large {
		display: flex;
	}
	.intro-text {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 50px;
		@include bp-large {
			align-items: unset;
			margin-top: 0px;
		}
		h2 {
			font-size: 3.75rem;
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			@include bp-large {
				margin: 1.523% 8.8%;
			}
		}
		p {
			margin: 30px;
			font-size: 1.5rem;
			text-align: center;
			@include bp-large {
				margin: 0rem 31.2% 2.07% 8.7%;
				text-align: unset;
				width: 38.2%;
			}
		}
	}
	img {
		display: none;
		@include bp-large {
			display: flex;
			position: absolute;
			bottom: 25%;
			left: 65%;
			overflow: hidden;
		}
	}
}
.wedding-events {
	position: relative;
	@include flex-center;
	flex-direction: column;

	@include bp-large {
		flex-direction: row;
		justify-content: flex-end;
	}
	img {
		width: 100%;
		@include bp-large {
			width: 66.032%;
			left: 0;
			top: 0;
			z-index: -7;
		}
	}
	.header-container {
		position: relative;
		z-index: 10;
		@include bp-large {
			width: 37.11%;
		}
		.skewed-header {
			position: relative;
			margin: 50px 0px 220px 0px;
			@include bp-large {
				background-color: #f7f3f3;
				:before {
					content: '';
					position: absolute;
					background-color: #f7f3f3;
					width: 23%;
					height: 100%;
					top: 0;
					z-index: -4;
					left: -12%;
					transform: skew(-20deg, 0deg);
				}
			}
			div {
				@include flex-center;
				flex-direction: column;
				@include bp-large {
					align-items: baseline;
				}
				h2 {
					font-weight: 100;
					font-size: 2.8rem;
					@include iPhone-x {
						font-size: 2rem;
					}
					@include bp-large {
						font-size: 4.28rem;
						padding-left: 1%;
					}
				}
				span {
					display: none;
					@include bp-med {
						display: block;
						padding: 1.42rem 0;
						font-weight: 100;
						font-size: 1.125rem;
					}
				}
			}
		}
		a {
			@include flex-center;
			flex-direction: column;
			position: absolute;
			bottom: 30%;
			right: 25%;
			color: #fff;
			font-size: 1.91rem;
			font-weight: 100;
			background-color: #fa4407;
			z-index: 10;
			@include bp-med {
				bottom: 25%;
				right: 35%;
				text-align: center;
				font-size: 1.3rem;
				width: 10.74rem;
			}
			@include bp-large {
				bottom: 21.5%;
				right: 28.5%;
				width: 15.74rem;
				font-size: 2.25rem;
			}
			@include bp-ld {
				right: 64.5%;
			}
			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
					font-size: 1.5rem;
				}
				@include bp-large {
					margin-top: -1.5rem;
				}
			}
		}
		a::before {
			content: '';
			position: absolute;
			background-color: #fa4407;
			width: 23%;
			height: 100%;
			top: 0;
			z-index: -4;
			left: -12%;
			transform: skew(-20deg, 0deg);
		}
		a::after {
			content: '';
			position: absolute;
			background-color: #fa4407;
			width: 23%;
			height: 100%;
			top: 0;
			z-index: -4;
			right: -12%;
			transform: skew(-20deg, 0deg);
		}
	}
}
.dish-gardens {
	@include flex-center;
	flex-direction: column;
	position: relative;
	@include bp-large {
		justify-content: flex-start;
		flex-direction: row-reverse;
	}
	@include bp-ld {
		margin-top: -5%;
	}
	img {
		width: 100%;
		@include bp-large {
			width: 56.14%;
		}
	}
	.header-container {
		position: relative;
		@include bp-large {
			width: 43.92%;
		}
		.skewed-header {
			margin: 50px 0px 220px 0px;
			position: relative;
			@include bp-large {
				background-color: #f7f3f3;
			}
			div {
				@include flex-center;
				flex-direction: column;
				@include bp-large {
					align-items: flex-start;
				}
				h2 {
					font-weight: 100;
					font-size: 4rem;
					z-index: 10;
					@include bp-med {
						text-align: center;
					}
					@include bp-large {
						text-align: left;
						padding-left: 4.39%;
					}
					span {
						display: none;
						@include bp-med {
							display: block;
							padding: 30px 0px;
							font-size: 1.125rem;
						}
						@include bp-large {
						}
					}
					:before {
						content: '';
						position: absolute;
						background-color: #f7f3f3;
						width: 50%;
						height: 100%;
						top: 0;
						z-index: -4;
						right: -8%;
						transform: skew(20deg, 0deg);
					}
					@include iPhone-x {
						font-size: 2rem;
					}
					@include bp-large {
						font-size: 4.28rem;
						padding-left: 4.39%;
					}
				}
			}
		}
		a {
			@include flex-center;

			color: #fff;
			background-color: #fda50d;
			position: absolute;
			flex-direction: column;
			bottom: 30%;
			right: 18%;
			font-size: 1.91rem;
			font-weight: 100;
			z-index: 10;
			@include bp-med {
				bottom: 25%;
				right: 35%;
				text-align: center;
				font-size: 1.3rem;
				width: 10.74rem;
			}
			@include bp-large {
				bottom: 20%;
				left: 45.5%;
				width: 15.74rem;
				font-size: 2.25rem;
			}
			@include bp-ld {
				bottom: 24%;
				left: 69.5%;
			}

			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
					font-size: 1.5rem;
				}
				@include bp-large {
					margin-top: -1.5rem;
				}
			}
		}
		a::before {
			content: '';
			position: absolute;
			background-color: #fda50d;
			width: 23%;
			height: 100%;
			top: 0;
			z-index: -4;
			left: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				transform: skew(20deg, 0deg);
			}
		}
		a::after {
			content: '';
			position: absolute;
			background-color: #fda50d;
			width: 23%;
			height: 100%;
			top: 0;
			z-index: -4;
			right: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				transform: skew(20deg, 0deg);
			}
		}
	}
}
.vertical-gardens {
	@include flex-center;
	flex-direction: column;
	position: relative;
	@include bp-large {
		flex-direction: row;
		justify-content: flex-end;
		// margin-top: 5%;
	}
	img {
		width: 100%;
		@include bp-large {
			width: 66.03%;
			z-index: -10000;
		}
	}
	.header-container {
		position: relative;
		@include bp-large {
			width: 37.8%;
		}
		.skewed-header {
			margin: 50px 0px 220px 0px;
			position: relative;
			@include bp-large {
				background-color: #f7f3f3;
			}
			div {
				@include flex-center;
				flex-direction: column;
				@include bp-large {
					align-items: initial;
				}
				h2 {
					font-weight: 100;
					font-size: 3rem;
					@include bp-med {
						text-align: center;
					}
					@include bp-large {
						text-align: left;
					}
					span {
						display: none;
						@include bp-med {
							display: block;
							padding: 1.42rem 0;
							font-size: 1.125rem;
						}
						@include bp-large {
							z-index: 9;
						}
					}
					:before {
						content: '';
						position: absolute;
						background-color: #f7f3f3;
						width: 50%;
						height: 100%;
						top: 0;
						z-index: -10;
						left: -8%;
						transform: skew(-20deg, 0deg);
					}
					@include iPhone-x {
						font-size: 2rem;
					}
					@include bp-large {
						font-size: 4.75rem;
						z-index: 10;
					}
				}
			}
		}
		a {
			@include flex-center;
			flex-direction: column;
			position: absolute;
			bottom: 30%;
			font-size: 1.91rem;
			font-weight: 100;
			right: 25%;
			background-color: #6e352d;
			color: #fff;
			z-index: 10;
			@include bp-med {
				bottom: 25%;
				right: 35%;
				text-align: center;
				font-size: 1.3rem;
				width: 10.74rem;
			}
			@include bp-large {
				bottom: 20%;
				right: 27.5%;
				font-size: 2.25rem;
				width: 15.74rem;
			}
			@include bp-ld {
				bottom: 21%;
				right: 62.5%;
			}
			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
					font-size: 1.5rem;
				}
				@include bp-large {
					margin-top: -1.5rem;
				}
			}
		}
		a::before {
			content: '';
			position: absolute;
			background-color: #6e352d;
			width: 23%;
			height: 100%;
			top: 0;
			z-index: -4;
			left: -12%;
			transform: skew(-20deg, 0deg);
		}
		a::after {
			content: '';
			position: absolute;
			background-color: #6e352d;
			width: 23%;
			height: 100%;
			top: 0;
			z-index: -4;
			right: -12%;
			transform: skew(-20deg, 0deg);
		}
	}
}
.shop-by {
	padding-bottom: 100px;
	@include flex-center;
	flex-direction: column;
	margin-top: 15%;
	h2 {
		@include iPhone-x {
			text-align: center;
		}
		font-size: 2.7rem;
		font-weight: 100;
		@include bp-med {
			font-size: 3.75rem;
		}
	}
	.all-shop-container {
		@include flex-center;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		font-size: 1.3rem;
		img {
			padding: 0.876rem 0%;
		}
		@include iPhone-x {
			font-size: 1.2rem;
		}
		@include bp-large {
			align-items: end;
			justify-content: space-evenly;
			flex-direction: row;
			padding-top: 3.31%;
		}
		.first-set-container {
			display: flex;
			flex-direction: row-reverse;
			justify-content: center;
			align-items: baseline;
			@include iPhone-x {
				width: 100%;
			}
			@include bp-med {
				flex-direction: row;
			}
			@include bp-large {
				padding-right: 4.02%;
				align-items: end;
			}
			.first-shop {
				@include flex-center;
				flex-direction: column;

				@include iPhone-x {
					width: 50%;
				}

				@include bp-large {
					flex-direction: column-reverse;
				}
				img {
					@include iPhone-x {
						width: 70%;
						padding-bottom: 0.876rem;
					}
				}
				a {
					@include iPhone-x {
						width: 54.666%;
					}
					position: relative;
					@include flex-center;

					color: #fff;
					background-color: #fa4407;
				}
				a::before {
					content: '';
					position: absolute;
					background-color: #fa4407;
					width: 50%;
					height: 100%;
					bottom: 0;
					left: -11%;
					transform: skew(20deg, 0deg);
					z-index: -2;
				}
				a::after {
					content: '';
					position: absolute;
					background-color: #fa4407;
					width: 50%;
					height: 100%;
					bottom: 0;
					right: -11%;
					transform: skew(20deg, 0deg);
					z-index: -2;
				}
			}
			.second-shop {
				@include flex-center;
				flex-direction: column;
				@include iPhone-x {
					width: 50%;
				}

				@include bp-large {
					flex-direction: column-reverse;
				}
				img {
					@include iPhone-x {
						width: 70%;
						padding-bottom: 0.876rem;
					}
				}
				a {
					@include iPhone-x {
						width: 56.8%;
					}
					@include flex-center;
					position: relative;

					color: #fff;
					background-color: #4b858c;
				}
				a::before {
					content: '';
					position: absolute;
					background-color: #4b858c;
					width: 50%;
					height: 100%;
					bottom: 0;
					left: -11%;
					transform: skew(20deg, 0deg);
					z-index: -2;
				}
				a::after {
					content: '';
					position: absolute;
					background-color: #4b858c;
					width: 50%;
					height: 100%;
					bottom: 0;
					right: -11%;
					transform: skew(-20deg, 0deg);
					z-index: -2;
				}
			}
		}
		.second-set-container {
			display: flex;
			justify-content: center;
			align-items: baseline;
			@include iPhone-x {
				width: 100%;
			}
			@include bp-large {
				align-items: end;
			}
			.third-shop {
				@include flex-center;
				flex-direction: column;
				@include iPhone-x {
					width: 50%;
				}

				@include bp-large {
					flex-direction: column-reverse;
				}
				img {
					@include iPhone-x {
						width: 60%;
						padding-bottom: 0.876rem;
					}
				}
				a {
					@include iPhone-x {
						width: 60%;
					}
					position: relative;
					@include flex-center;
					font-size: 1.25rem;

					color: #000;
					background-color: #fda50d;
				}
				a::before {
					content: '';
					position: absolute;
					background-color: #fda50d;
					width: 50%;
					height: 100%;
					bottom: 0;
					left: -23%;
					transform: skew(-20deg, 0deg);
					z-index: -2;
					@include bp-large {
					}
				}
				a::after {
					content: '';
					position: absolute;
					background-color: #fda50d;
					width: 50%;
					height: 100%;
					bottom: 0;
					right: -23%;
					transform: skew(-20deg, 0deg);
					z-index: -2;
					@include bp-large {
					}
				}
			}
			.fourth-shop {
				@include flex-center;
				flex-direction: column;
				@include iPhone-x {
					width: 50%;
				}

				@include bp-large {
					flex-direction: column-reverse;
				}
				img {
					@include iPhone-x {
						width: 80%;
						padding-bottom: 0.876rem;
					}
				}
				a {
					@include iPhone-x {
						width: 73.333%;
					}
					@include flex-center;
					position: relative;

					color: #000;
					background-color: #a1bbab;
				}
				a::before {
					content: '';
					position: absolute;
					background-color: #a1bbab;
					width: 50%;
					height: 100%;
					bottom: 0;
					left: -9%;
					transform: skew(-25deg, 0deg);
					z-index: -2;
					@include bp-large {
					}
				}
				a::after {
					content: '';
					position: absolute;
					background-color: #a1bbab;
					width: 50%;
					height: 100%;
					bottom: 0;
					right: -9%;
					transform: skew(25deg, 0deg);
					z-index: -2;
					@include bp-large {
					}
				}
			}
		}
	}
}
// end home page
//start plants page
.featured-header {
	display: none;
	@include bp-med {
		display: flex;
		align-items: baseline;
		border-bottom: black solid 0.104rem;
		width: 29.04rem;
		margin: 1.464rem 0rem 0.706rem 4.392rem;
		padding-bottom: 0.523rem;
		span {
			font-size: 1.5rem;
			font-family: 'Roboto', sans-serif;
			margin-right: 4.392rem;
		}
		h2 {
			font-size: 3rem;
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
		}
	}
}
.plants-banner {
	background-image: url(/dist/img/trangles1.png);
	background-repeat: no-repeat;
	background-size: contain;
	img {
		width: 100%;
		z-index: -20;
	}
}
.featured {
	display: flex;
	flex-direction: column;
	@include bp-med {
		flex-direction: row;
	}
	.cody-menu {
		.plant-dropdown {
			display: flex;
			height: 2.315rem;
			justify-content: center;
			background-color: #ca2706;
			@include bp-med {
				display: none;
			}
			h2 {
				font-size: 1.625rem;
				margin: auto 33.333%;
				text-align: center;
			}
			span {
				align-self: right;
				margin: auto 0;
				transition: 0.5s linear;
			}
		}
		ul {
			display: none;
			opacity: 0;

			@include bp-med {
				display: flex;
				flex-direction: column;
				opacity: 1;
				margin-left: 4.392rem;
				width: 11.932rem;
			}
			li {
				display: flex;
				font-weight: regular;
				color: black;
				justify-content: center;
				background-color: #ca2706;
				border-top: 1px solid black;
				@include bp-med {
					background-color: rgba(0, 0, 0, 0);
					border: none;
					justify-content: start;
					font-family: 'Roboto', sans-serif;
					font-size: 1.25rem;
					font-weight: 300;
					padding-bottom: 0.47rem;
				}
			}
		}
		&.open {
			.plant-dropdown {
				span {
					transform: rotate(90deg);
					transition: 0.5s linear;
				}
			}
			ul {
				display: block;
				opacity: 1;
				animation: fadeIn 1s ease 1;
			}
		}
	}
	.products {
		@include flex-center;
		flex-direction: row;
		flex-wrap: wrap;

		@include bp-med {
			margin-top: 3.401rem;
		}
		@include bp-large {
		}
		.product {
			@include flex-center;
			flex-direction: column;
			margin: 2.28rem;
			img {
				margin: 1.44rem 0;
			}
			h3 {
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				font-size: 1.663rem;
				@include bp-med {
					font-size: 1.125rem;
				}
			}
			p {
				font-family: 'Roboto', sans-serif;

				font-size: 1.525rem;
				@include bp-med {
					font-size: 0.987rem;
				}
			}
			span {
				font-family: 'Roboto', sans-serif;
				font-weight: 100;
				font-size: 1.525rem;
				@include bp-med {
					font-size: 0.987rem;
				}
			}
		}
	}
}
.WDV {
	display: flex;
	align-items: center;
	flex-direction: column;
	@include bp-med {
		flex-direction: row;
		padding: 4.133rem 0 3.898rem 0;
	}
	@include bp-large {
		width: 95%;
		align-items: inherit;
		margin: auto;
	}
	div {
		@include flex-center;
		margin: 4.93rem 0;
		flex-direction: column;
		@include bp-med {
			width: 33.333%;
			margin: 0;
		}
		img {
			width: 100%;
			margin-bottom: 1.5rem;
		}
		h3 {
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			font-size: 2.5rem;
			@include bp-med {
				@include flex-center;
				flex-direction: column;
				font-size: 3rem;
			}
			@include bp-large {
				font-size: 3.75rem;
			}
		}
	}
}
//end plants page
//start shop page
.shop-banner {
	margin-top: 3rem;
	@include flex-center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	height: 1.866rem;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	@include bp-med {
		display: none;
	}
}
.mobile-hero {
	display: flex;
	background-image: url(/dist/img/trangles1.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;
	@include bp-med {
		background-image: none;
	}
	.mobile-header {
		margin: 4.445rem 0 4.954rem 28.133%;
		h1 {
			font-size: 3rem;
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			margin-bottom: 0.984rem;
		}
		p {
			font-size: 1.125rem;
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			border-bottom: 0.033rem solid black;
			margin-bottom: 0.508rem;
		}
		span {
			font-size: 1.125rem;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		@include bp-med {
			display: none;
		}
	}
}
.full-shop {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	@include bp-med {
		background-image: url(/dist/img/trangles1.png);
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 30%;
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;
		@include bp-ld {
			background-size: 25%;
		}
	}
	.info-set {
		@include flex-center;
		flex-direction: column;
		@include bp-med {
			margin-top: 6rem;
			width: 60%;
			flex-direction: column;
		}
		@include bp-large {
			width: 50%;
		}
		@include bp-ld {
			width: 38%;
		}
		.info-header-holder {
			display: flex;
			@include bp-med {
				display: flex;
				flex-direction: column;
				width: 75%;
			}
			.info-ul {
				display: none;
				@include bp-med {
					display: flex;
					border-bottom: 3px black solid;
					margin-bottom: 2.225rem;
					li {
						font-size: 1.5rem;
						padding-right: 0.466rem;
						padding-bottom: 0.631rem;
						&.active {
							color: #ca3203;
						}
					}
					li:first-child {
						padding-left: 1.464rem;
					}
				}
			}
			.not-mobile-header {
				display: none;
				@include bp-med {
					display: flex;
					flex-direction: column;
					margin-left: 1.464rem;
					h1 {
						font-size: 3.7rem;
						font-family: 'Roboto', sans-serif;
						font-weight: 100;
					}
					p {
						width: 5.6rem;
						font-size: 1.125rem;
						margin: 0rem 0rem 0.482rem 0rem;
						padding-bottom: 0.296rem;
						line-height: normal;
						font-weight: 300;
						border-bottom: 2px solid black;
					}
					span {
						font-weight: 700;
					}
				}
			}
		}
		p {
			font-size: 1.375rem;
			margin: 2rem 4rem;
			line-height: 1.305em;
		}
		.shop-form {
			display: flex;
			flex-direction: column;
			width: 75%;
			.cody-menu {
				display: flex;
				flex-direction: column;
				.color-menu {
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-weight: 700;
					border: 2px solid black;
					margin-bottom: 1.357rem;
					p {
						padding: 0.882rem;
						margin: 0;
						line-height: 0;
					}
					span {
						padding: 0.882rem;
					}
				}
				.color-ul {
					margin-bottom: 1.153rem;
					padding: 0;
					display: flex;
					li {
						padding-right: 4.533%;
					}
				}
			}
			&.open-color {
				color: red;
			}
			form {
				display: flex;
				flex-direction: column;
				.qty-holder {
					input {
						text-align: center;
						width: 49px;
						height: 49px;
						font-size: 1.125rem;
						border: 2px solid black;
						margin-bottom: 1.696rem;
					}
					label {
						padding-left: 5.866%;
						font-size: 1.5rem;
					}
				}
				button {
					position: relative;
					background-color: #ffa202;
					border: none;
					width: 15.3rem;
					margin: auto;
					padding: 0.808rem;
					span {
						font-size: 1.125rem;
						font-weight: 700;
					}
					:before {
						content: '';
						height: 100%;
						background-color: #ffa202;
						position: absolute;
						width: 3.14rem;
						top: 0%;
						right: -9%;
						z-index: -100;
						transform: skew(-42deg, 0deg);
					}
					:after {
						content: '';
						height: 100%;
						background-color: #ffa202;
						position: absolute;
						width: 3.14rem;
						top: 0%;
						left: -9%;
						z-index: -100;
						transform: skew(-42deg, 0deg);
					}
				}
			}
		}
	}
	.img-set {
		@include bp-med {
			width: 95%;
		}
		@include bp-ld {
			width: 100%;
		}
		.samples {
			@include flex-center;
			@include bp-ld {
				justify-content: flex-start;
			}
			.mobile-samples {
				display: flex;
				width: 100%;
				flex-grow: 1;
				overflow: hidden;
				img:first-child {
					width: 25%;
				}
				img:nth-child(2) {
					width: 50%;
				}
				img:last-child {
					width: 25%;
				}
				@include bp-med {
					display: none;
				}
			}
			.not-mobile-samples {
				display: none;
				@include bp-med {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					margin-top: -20rem;
				}
				@include bp-large {
					margin-top: -31rem;
				}
				@include bp-ld {
					margin-top: -25rem;
					margin-left: 15rem;
					flex-direction: column;
				}
				@include bp-ld {
					align-content: flex-start;
					align-items: center;
					justify-content: center;
				}
				div:first-child {
					margin-bottom: 2.781rem;
					img {
						width: 65%;
						@include bp-large {
							width: 100%;
						}
					}
				}
				div:last-child {
					img {
						margin-right: 3.19rem;
						@include bp-large {
							margin-right: 7.19rem;
						}
						@include bp-ld {
							margin-right: 1.19rem;
						}
					}
					img:last-child {
						margin-right: 0rem;
					}
				}
			}
		}
	}
}
//end shop page
footer {
	background-color: #dcd0cf;
	background-image: url(/dist/img/triangles2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	@include flex-center;
	justify-content: space-around;
	flex-direction: column;
	@include bp-med {
		flex-direction: row;
		align-items: normal;
	}
	.contact {
		display: flex;
		flex-direction: column-reverse;
		@include bp-med {
			flex-direction: column;
			width: 40%;
		}
		.contact-head {
			display: none;
			@include bp-large {
				padding-bottom: 8.5%;
				display: flex;
				flex-direction: column;
			}
			h2 {
				margin-bottom: 6.8%;
				margin-top: 7.72%;
				font-size: 3rem;
			}
			span {
				font-size: 1rem;
			}
		}
		.contact-info {
			display: flex;
			flex-direction: column;
			@include iPhone-x {
				width: 100%;
				padding: 15% 0% 17.529% 5%;
			}
			@include bp-med {
				padding: 15% 0% 17.529% 0%;
			}

			.contacts {
				display: flex;
				align-items: center;
				flex-direction: row;
				padding: 0.542rem 0rem;
				img {
					width: 60px;
					padding-right: 4.4%;
				}
				&.address {
					img {
						padding-bottom: 3.8rem;
					}
					.address-info {
						display: flex;
						flex-direction: column;
						line-height: 2.086rem;
					}
				}
				span {
					padding-left: 0.668rem;
					font-size: 1.175rem;
				}
				@include bp-med {
					width: 100%;
				}
			}
			@include bp-med {
				padding-bottom: 0%;
			}
		}
		.social-links {
			display: flex;

			padding: 11.47% 0rem;
			img {
				@include iPhone-x {
					width: 5rem;
					height: 5rem;
					margin: 5%;
				}
			}
		}
	}
	form {
		display: none;
		@include bp-med {
			width: 40%;
		}
		@include bp-large {
			display: flex;
			justify-content: center;
			width: 40%;
			flex-direction: column;
			input {
				margin: 10px 0px;
				&.name {
					height: 50px;
				}
				&.email {
					height: 50px;
				}
			}
			div {
				button {
					@include bp-med {
						position: relative;
						margin: 20px 0px;
						border: none;
						height: 120px;
						font-size: 2rem;
						background-color: #193638;
						z-index: 100;
						width: 60%;
					}
				}
				:before {
					@include bp-med {
						content: '';
						height: 100%;
						background-color: #1a3637;
						position: absolute;
						width: 70%;
						top: 0%;
						right: -31%;
						z-index: -100;
						transform: skew(-42deg, 0deg);
					}
				}
			}
		}
	}
}
@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@keyframes fadeOut {
	0% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 1;
	}
}
