header {
	display: flex;
	flex-direction: column;
	@include bp-med {
		justify-content: center;
	}
	.mobile-only-container {
		display: flex;
		position: fixed;
		right: 1rem;
		top: 1rem;
		z-index: 3;

		@include bp-large {
			display: none;
		}
		img {
			height: 50px;
			width: 50px;
			position: absolute;
			right: 4.5rem;
			top: -0.2rem;
		}
		.hamburger {
			@include flex-center;
			flex-direction: column;
			width: 50px;
			height: 50px;
			padding: 0;
			color: #f7f3f2;
			border: none;
			// border: #435a5c solid 1px;
			.line {
				width: 75%;
				height: 12%;
				// border: #435a5c solid 1px;
				margin: 10%;
				background-color: black;
			}
		}
	}

	.logo {
		width: 200px;
		align-self: center;
		position: relative;
		top: 1.5rem;
		z-index: 2;
	}

	nav {
		display: block;
		position: fixed;
		right: 1rem;
		top: 5rem;
		max-width: 0px;
		overflow: hidden;
		z-index: 1000;
		ul {
			display: flex;
			flex-direction: column;
			text-align: right;
			li {
				a {
					display: flex;
					flex-direction: column;
					line-height: 3rem;
					padding: 10px 0px;
					text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff,
						-2px 2px 0 #ffffff, -2px -2px 0 #ffffff,
						2px 0px 0 #ffffff, 0px 2px 0 #ffffff, -2px 0px 0 #ffffff,
						0px -2px 0 #ffffff, 2px 2px 0px rgba(0, 0, 0, 0);

					.cart {
						display: none;
					}
				}
			}
		}
		&.showing {
			max-width: 100%;
		}
		@include bp-large {
			display: block;
			position: relative;
			top: -6.5rem;
			max-width: 100%;
			ul {
				// @include flex-center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				div {
					display: flex;
					flex-direction: row;
					justify-content: space-evenly;
					width: 40%;
					li {
						margin: 0px 20px;
						a {
							font-size: 1.5rem;
							@include flex-center;
							align-items: baseline;
							flex-direction: row;
							text-shadow: none;
							.cart {
								margin-left: 10px;
								width: 25px;
								height: 25px;
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
.banner {
	position: relative;
	img {
		width: 100%;
		margin-top: 20px;
	}
	.skewed-tag {
		@include flex-center;
		font-size: 1.5rem;
		background-color: #ca2706;
		width: 40%;
		height: 20%;
		position: absolute;
		bottom: -2%;
		right: 30%;
		transition: ease;
		@include bp-med {
			width: 30%;
			bottom: -2%;
			right: 35%;
		}
		@include bp-large {
			// font-size: 2.5rem;
			width: 20%;
			height: 11%;
			bottom: 2%;
			right: 45%;
		}

		:before {
			content: '';
			position: absolute;
			background-color: #ca2706;
			width: 20%;
			height: 100%;
			top: 0;
			left: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}
		:after {
			content: '';
			position: absolute;
			background-color: #ca2706;
			width: 20%;
			height: 100%;
			top: 0;
			right: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}

		a {
			color: white;
			z-index: 5;
		}
		@include bp-med {
			// top: 43rem;
			// left: 13.5rem;
		}
	}
}
.hero {
	.intro-text-img-container {
		@include flex-center;
		.intro-text {
			@include flex-center;
			flex-direction: column;
			margin-top: 50px;
			h2 {
				font-size: 3rem;
			}
			p {
				margin: 30px;
				font-size: 1.2rem;
				text-align: center;
			}
			img {
				display: none;
			}
		}
	}
}

.wedding-events {
	@include flex-center;
	flex-direction: column;
	position: relative;
	img {
		width: 100%;
	}
	.skewed-header {
		margin: 50px 0px 220px 0px;
		div {
			@include flex-center;
			flex-direction: column;
			h2 {
				@include iPhone-x {
					font-size: 2rem;
				}
				font-size: 2.5rem;
			}
			span {
				display: none;
				@include bp-med {
					display: block;
					padding: 30px 0px;
					font-size: 1.4rem;
				}
			}
		}
	}
	.skewed-tag {
		@include flex-center;
		position: absolute;
		background-color: #fa4407;
		width: 230px;
		height: 90px;
		bottom: 12%;
		right: 30%;
		@include bp-med {
			bottom: 10%;
			right: 35%;
			text-align: center;
		}
		div {
			color: #fff;
			@include bp-med {
				font-size: 1.3rem;
			}
			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
		:before {
			content: '';
			position: absolute;
			background-color: #fa4407;
			width: 20%;
			height: 100%;
			top: 0;
			left: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}
		:after {
			content: '';
			position: absolute;
			background-color: #fa4407;
			width: 20%;
			height: 100%;
			top: 0;
			right: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}
	}
}
.dish-gardens {
	@include flex-center;
	flex-direction: column;
	position: relative;
	img {
		width: 100%;
	}
	.skewed-header {
		margin: 50px 0px 220px 0px;
		div {
			@include flex-center;
			flex-direction: column;
			h2 {
				@include iPhone-x {
					font-size: 2rem;
				}
				font-size: 2.5rem;
			}
			span {
				display: none;
				@include bp-med {
					display: block;
					padding: 30px 0px;
					font-size: 1.4rem;
				}
			}
		}
	}
	.skewed-tag {
		@include flex-center;
		position: absolute;
		background-color: #fda50d;
		width: 230px;
		height: 90px;
		bottom: 12%;
		right: 30%;
		@include bp-med {
			bottom: 10%;
			right: 35%;
			text-align: center;
		}
		div {
			color: #fff;
			@include bp-med {
				font-size: 1.3rem;
			}
			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
		:before {
			content: '';
			position: absolute;
			background-color: #fda50d;
			width: 20%;
			height: 100%;
			top: 0;
			left: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}
		:after {
			content: '';
			position: absolute;
			background-color: #fda50d;
			width: 20%;
			height: 100%;
			top: 0;
			right: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}
	}
}
.vertical-gardens {
	@include flex-center;
	flex-direction: column;
	position: relative;
	img {
		width: 100%;
	}
	.skewed-header {
		margin: 50px 0px 220px 0px;
		div {
			@include flex-center;
			flex-direction: column;
			h2 {
				@include iPhone-x {
					font-size: 2rem;
				}
				font-size: 2.5rem;
			}
			span {
				display: none;
				@include bp-med {
					display: block;
					padding: 30px 0px;
					font-size: 1.4rem;
				}
			}
		}
	}
	.skewed-tag {
		@include flex-center;
		position: absolute;
		background-color: #6e352d;
		width: 230px;
		height: 90px;
		bottom: 8%;
		right: 30%;
		@include bp-med {
			bottom: 6%;
			right: 35%;
			text-align: center;
		}
		div {
			color: #fff;
			@include bp-med {
				font-size: 1.3rem;
			}
			.bp-med-only {
				display: none;
				@include bp-med {
					display: block;
				}
			}
		}
		:before {
			content: '';
			position: absolute;
			background-color: #6e352d;
			width: 20%;
			height: 100%;
			top: 0;
			left: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}
		:after {
			content: '';
			position: absolute;
			background-color: #6e352d;
			width: 20%;
			height: 100%;
			top: 0;
			right: -12%;
			transform: skew(-20deg, 0deg);
			@include bp-large {
				height: 99.5%;
			}
		}
	}
}
.shop-by {
	padding-bottom: 100px;
	@include flex-center;
	flex-direction: column;
	.line {
		width: 100%;
		height: 1px;
		background-color: #000;
		z-index: 0;
	}
	.all-shop-container {
		@include flex-center;
		justify-content: space-around;
		width: 100%;

		font-size: 1.3rem;
		@include iPhone-x {
			font-size: 1.2rem;
		}
		.first-set-container {
			@include flex-center;
			align-items: center;
			flex-direction: column;

			.first-shop {
				position: relative;
				width: 100%;
				.skewed-tag {
					@include flex-center;
					width: 175px;
					height: 50px;
					color: #fff;
					background-color: #fa4407;
					@include iPhone-x {
						width: 160px;
					}
				}
				:before {
					content: '';
					position: absolute;
					background-color: #fa4407;
					width: 10%;
					height: 55%;
					bottom: 0;
					left: -5%;
					transform: skew(20deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
				:after {
					content: '';
					position: absolute;
					background-color: #fa4407;
					width: 10%;
					height: 55%;
					bottom: 0;
					right: -5%;
					transform: skew(20deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
			}

			.second-shop {
				position: relative;
				width: 100%;
				.skewed-tag {
					@include flex-center;

					width: 175px;
					height: 50px;
					color: #fff;
					background-color: #4b858c;
					@include iPhone-x {
						width: 160px;
					}
				}
				:before {
					content: '';
					position: absolute;
					background-color: #4b858c;
					width: 15%;
					height: 55%;
					bottom: 0;
					left: -6%;
					transform: skew(25deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
				:after {
					content: '';
					position: absolute;
					background-color: #4b858c;
					width: 15%;
					height: 55%;
					bottom: 0;
					right: -6.5%;
					transform: skew(-25deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
			}
		}
		.second-set-container {
			display: flex;
			align-items: center;
			flex-direction: column;

			.third-shop {
				position: relative;
				width: 100%;
				.skewed-tag {
					@include flex-center;
					font-size: 1.25rem;
					width: 175px;
					height: 50px;
					color: #000;
					background-color: #fda50d;
					@include iPhone-x {
						width: 160px;
					}
				}
				:before {
					content: '';
					position: absolute;
					background-color: #fda50d;
					width: 10%;
					height: 55%;
					bottom: 0;
					left: -5%;
					transform: skew(-20deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
				:after {
					content: '';
					position: absolute;
					background-color: #fda50d;
					width: 10%;
					height: 55%;
					bottom: 0;
					right: -5%;
					transform: skew(-20deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
			}
			.fourth-shop {
				position: relative;
				width: 100%;
				.skewed-tag {
					@include flex-center;

					width: 175px;
					height: 50px;
					color: #000;
					background-color: #a1bbab;
					@include iPhone-x {
						width: 160px;
					}
				}
				:before {
					content: '';
					position: absolute;
					background-color: #a1bbab;
					width: 15%;
					height: 55%;
					bottom: 0;
					left: -6%;
					transform: skew(-25deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
				:after {
					content: '';
					position: absolute;
					background-color: #a1bbab;
					width: 15%;
					height: 55%;
					bottom: 0;
					right: -6.5%;
					transform: skew(25deg, 0deg);
					@include bp-large {
						height: 99.5%;
					}
				}
			}
		}
	}
}
footer {
	@include flex-center;
	flex-direction: column;
	@include bp-med {
		flex-direction: row;
		align-items: normal;
	}

	.contact {
		@include flex-center;
		flex-direction: column;
		width: 100%;
		@include bp-med {
			width: 40%;
			justify-content: space-evenly;
		}
		img {
			width: 32px;
		}
		.contact-head {
			padding-bottom: 30px;
			width: 68%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			@include bp-med {
				width: 88%;
			}
			h2 {
				margin-bottom: 10px;
				font-size: 1.6rem;
			}
			span {
				font-size: 1.2rem;
			}
		}
		.contact-info {
			width: 100%;
			display: flex;
			justify-content: space-evenly;
			.contact-images {
				@include flex-center;
				flex-direction: column;
				img {
					margin-bottom: 29px;
					:first-child {
						padding-top: 100px;
					}
				}
			}
			.contact-text {
				display: flex;
				align-content: center;
				justify-content: space-around;
				flex-direction: column;

				.address-info {
					display: flex;
					flex-direction: column;
				}
			}
		}

		.social-links {
			display: flex;
			width: 67%;
			justify-content: space-between;
			@include bp-med {
				width: 88%;
			}
		}
	}
	form {
		margin: 50px 0px;
		display: flex;
		justify-content: center;
		width: 67%;
		flex-direction: column;
		@include bp-med {
			width: 60%;
			margin: 50px 20px;
		}
		input {
			margin: 10px 0px;
			&.name {
				// width: 50%;
				height: 50px;
			}
			&.email {
				height: 50px;
			}
		}
		div {
			button {
				position: relative;
				margin: 20px 0px;
				border: none;
				height: 120px;
				font-size: 2rem;
				background-color: #193638;
				width: 70%;
				@include bp-med {
					width: 60%;
				}
			}
			:before {
				content: '';
				height: 120px;
				background-color: #f7f3f2;
				position: absolute;
				width: 37%;
				top: 0%;
				right: -19%;
				transform: skew(-35deg, 0deg);
				@include bp-med {
					width: 41%;
					top: 0%;
					right: -20%;
					transform: skew(-42deg, 0deg);
				}
			}
		}
	}
}
